/* Hide maths HTML part: */
.katex-html {
    display: none;
}

/* Grow effect on card media image: */
a.MuiCardActionArea-root img.MuiCardMedia-media {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a.MuiCardActionArea-root:hover img.MuiCardMedia-media {
    transform: scale(1.1);
}
